doctype html
html
  head
    title A propos
    link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
  body
    header.bg-black-90.fixed.w-100.ph3.pv3.ph4-l
      nav.tc.db.dt-l.w-100.border-box.pa3.lh-copy
        a.dtc.v-mid.mid-gray.link.dim.w-25.lh-title.mh2(href='/') Mon portfolio
        div.dtc.v-mid.w-75.tr
          a.link.dim.dark-gray.f6.f5-l.dib.mh3.ph2-l.mid-gray.bg-animate.hover-bg-light-gray(href='/projects') Projets
          a.link.dim.dark-gray.f6.f5-l.dib.mh3.ph2-l.mid-gray.bg-animate.hover-bg-light-gray(href='/about') A propos
    main.pa3.pa5-ns
      section.pb5-l
        div.center.measure-wide-l.flex.flex-column.items-center
          img(src='https://via.placeholder.com/150', alt='Auteur', class='br-100 h4 w4 dib ba b--black-05 pa2 mb3')
          h2.fw6.f2-l.tc-l.center-l A propos
          p.f6.tc.gray
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo quam eget ornare suscipit. Nunc tincidunt efficitur turpis, nec luctus quam luctus et. Fusce rutrum neque nulla, eget vehicula mi facilisis quis. Fusce lacinia lobortis arcu, in consequat nisi lacinia nec. Maecenas fermentum interdum mi, vel gravida turpis auctor eget. Duis et quam sapien.
          include contact
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-Q6E/MxI9VqTkIaNM6b9ViZ1Z9XpwLh6HvzBlxpzzZZyKxksdXTJOMaJwU/p1Md+5', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js', integrity='sha384-eXsJBIVPc8IvHgZEyLw12LQwNy4f/kRb+WlZIBsKp4t4/PDI8CvTtHQyjzsLxskS', crossorigin='anonymous')
